@charset "utf-8";
/* CSS Document */


/*main部分 开始*/
  /*slideshow 轮播图开始*/

.main-slideshow 
{
	float: left;
	width: 730px;
	height: 454px;
	margin: 10px 0 0 220px;
	position: relative;
}
.main-slideshow ul {
	position: absolute;
	left: 50%;
	bottom: 10px;
	margin-left: -66px; /*子盒子的宽度的一半*/
}
.main-slideshow li{
	float: left;
	background-color: #3e3e3e;
	border-radius: 9px;
	height: 18px;
	width: 18px;
	line-height: 18px;
	text-align: center;
	margin: 0 2px;
	color: white;
}
.main-slideshow li:nth-child(3) {
	background-color: red;
}
/*slideshow 轮播图结束*/

/*news 新闻版开始*/
.main-news {
	float: right;
	width: 248px;
	height: 453px;
	margin-top: 12px;
	position: relative;
	border-bottom: none;
}
.main-news-top {
	width: 248px;
	height: 32px;
	position: absolute;
	top: 0px;
	border-style: solid solid dotted;
	border-width: 1px;
	border-color: #e4e4e4;
}
.main-news-top h3 {
	float: left;
	margin-left: 7px;
	margin-top: 9px;
}
.main-news-top a {
	float: right;
	margin-right: 15px;
	margin-top: 10px;
}
.main-news-mid {
	position: absolute;
	width: 248px;
	height: 130px;
	border: 1px #e4e4e4 solid;
	border-top: none;
	margin-top: 33px;
}
.main-news-mid li {
	height: 12px;
	line-height: 12px;
	margin-top: 11px;
	margin-left: 15px;
	list-style-type: none;
	font-family: "microsoft yahei";
	font-size: 12px;
	
}
.main-news-buttom {
	width: 248px;
	height: 208px;
	border: 1px #e4e4e4 solid;
	border-top: none;
	margin-top: 164px;
}
.main-news-buttom-ul {
	position: absolute;
}
.main-news-buttom-ul li {
	float: left;
	width: 248px;
	height: 70px;
    border-bottom: 1px #e4e4e4 solid;
}
#main-news-buttom-ul-three-li {
	height: 66px;
}
#main-news-buttom-ul-three-li li {
	height: 66px;
}
.main-news-buttom-ul-inside {
	position: relative;
	height: 70px;
	
}
.main-news-buttom-ul-inside li {
	float: left;
	width: 62px;
	height: 70px;
	border-right: 1px #e4e4e4 solid;
	
}
#ul-inside-four-li {
	width: 59px;
	border-right: none;
}
.main-news-buttom-ul-inside a {
	width: 62px;
	height: 70px;
	display: block;
	position: relative;
	text-align: center;
}
.main-news-buttom-ul-inside a:hover {
	
}
.buttom-ul-inside-a-onei {
	line-height: 363%;
	color: #c81623;
}
.buttom-ul-inside-a-twoi {
	color: #666666;
	font: 400 12px/147% "microsoft yahei";
}
.main-news-buttom-img {
	width: 250px;
	height: 75px;
	margin-top: 4px;
	background: url(../images/buttom-img.png);
}
  /*news 新闻版结束*/

/*main部分 结束*/